body {
    background-color: #F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_link{
    background-color: white;
    color: black;
}

.classroom {
    padding-top: 30px;
    align-content: center;
}

.title_create_school {
    padding-top: 10px;
    text-align: center;
}

.div_create {
    background-color: lightgray;
    border-radius: 20px;
    height: 150px;
}

