body {
    background-color: #F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
}

.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #007bff
}

.logo {
    vertical-align: middle;
    color: #fff;
    font-size: 35px;
    font-weight: 700
}

.brand-wrap {
    text-decoration: none !important
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px
}

.notify {
    position: absolute;
    top: -4px;
    right: -10px;
    display: inline-block;
    padding: .25em .6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #fa3434
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important
}

.search-form {
    border-radius: 20px;
    border: 1px solid #ffffff !important
}

.search-button {
    border-radius: 20px;
    color: #007bff;
    background-color: #ffffff;
    border-color: #ffffff
}

/* The Modal (background) */
.modal {
  /* display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  width: auto; /*Full width*/
  height: auto; /*Full height*/
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.432); /*Black w/ opacity */
}

#myBtn {
    background-color: #007bff;
    border-color: #007bff;
    text-emphasis-color: white;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.navbar-main {
    background-color: #fff
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1) !important
}

.navbar-toggler {
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.37rem
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .5rem 7px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.navbar-toggler-icon {
    background-image: url(https://img.icons8.com/ios/50/000000/menu.png)
}

.nav-link {
    text-transform: uppercase;
    font-weight: 400
}

.vl {
    border-left: 1px solid #fff;
    height: 100%
}

.fas {
    color: #fff
}

.login {
    color: white
}

* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  margin-right: 20px;
  width: 25%;
  padding: 30px;
  height: 300px;
}

.column2 {
  float: left;
  margin-right: 20px;
  width: 40%;
  padding: 30px;
  height: 300px; 
}

.column3 {
  float: left;
  margin-right: 20px;
  width: 25%;
  padding: 30px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}